footer.footer {
    margin-top: 2rem;
    background-color: #f8f8f8;
    border-top: 1px solid lightgray;
}

footer.footer ul {
    display: flex;
    padding: 3rem 2.5rem 1.8rem 1.8rem;
    justify-content: center;
    list-style: none;
    border-bottom: 1px solid #ebeeef;
    width: 80%;
    margin: auto;
}

footer.footer ul li {
    margin-left: 2.5rem;
}

footer.footer p {
    text-align: center;
    font-size: 1.2rem;
    margin: 2rem 0;
}